<form id="navigation" action="fetch_picture">
  <input id="today's picture" name="today" class="btn btn-info" type="submit"value="Today's Picture">
  <input id="random picture" name="random" class="btn btn-info" type="submit" value="Random Picture">
</form>
