body {
  padding: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c1ccd6;
}

img{
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: #00B7FF;
}

p{
  color: #ba140d;
}
